{% extends 'base.html' %}

{% block title %}Liên Hệ{% endblock %}

{% block content %}
    <!-- Body -->
    <div class="body py-5">
        <div class="container">
            <h1 class="text-center mb-4">Liên Hệ</h1>
            <div class="card p-4 shadow-sm">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Tên của bạn</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Tin nhắn</label>
                        <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Gửi</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}